@import 'styles/shared';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;;
}

.description {
  font-size: 36px;
  font-weight: 400;
  @include respond-to('sm') {
    font-size: 46px;
  }
}

