/* caveat-regular - latin-ext_latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/caveat-v10-latin-ext_latin-regular.eot');/* IE9 Compat Modes */
  src: local(''),
      url('../assets/fonts/caveat-v10-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/caveat-v10-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/caveat-v10-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/caveat-v10-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/caveat-v10-latin-ext_latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}
/* caveat-700 - latin-ext_latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/caveat-v10-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/caveat-v10-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/caveat-v10-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/caveat-v10-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/caveat-v10-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/caveat-v10-latin-ext_latin-700.svg#Caveat') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/montserrat-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v15-latin-ext_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
