

@import 'styles/shared.scss';

/* -----------------------------------
 *
 * App styles
 *
 * -------------------------------- */

 .container {
  position: relative;
  height: 100vh;
}

.overlay {
  position: absolute;
  @include z-index(overlay);
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.article {
  color: white;
  text-align: center;
  h1 {
    font-weight: 200;
    font-size: 32px;
  }
}

