@import 'styles/shared.scss';

/* -----------------------------------
 *
 * Home styles
 *
 * -------------------------------- */

.container {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  @include respond-to('sm') {
    overflow: hidden;
  }
}

.overlay {
  position: absolute;
  @include z-index(overlay);
  width: 100vw;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  @include respond-to('md') {
    padding-top: 80px;
  }
}

.article {
  text-align: center;
}

.heading {
  font-size: 46px;
  font-weight: 500;
  margin: 0;
  @include respond-to('sm') {
    font-size: 56px;
  }
}

.button {
  font-family: $font-cursive;
  font-weight: 400;
  font-size: 36px;
  border: 0;
  margin: 0;
  padding: 0;
  color: $white;
  background: url('../../assets/images/button-bg--sm.svg') center bottom no-repeat;
  cursor: url('../../assets/images/headphones.svg'), auto;
  @include respond-to('sm') {
    font-size: 46px;
  }
}

.buttonIsReplay {
  @extend .button;
  background: url('../../assets/images/button-bg--lg.svg') center bottom no-repeat;
}