

@import 'styles/shared.scss';


/* -----------------------------------
 *
 * Home styles
 *
 * -------------------------------- */

 .container {
  position: relative;
  height: 100vh;
}

.overlay {
  position: absolute;
  @include z-index(overlay);
  width: 100vw;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  @include respond-to('sm') {
    padding-top: 4.5em;
  }
}

.article {
  color: white;
  text-align: center;
}

.heading {
  font-size: 2.4em;
  font-weight: 400;
  margin: 0;
  @include respond-to('sm') {
    font-size: 2.8em;
  }

  span {
    font-weight: 700;
  }
}

.button {
  font-family: $font-default;
  font-weight: 400;
  font-size: 2.4em;
  border: 0;
  margin: 0;
  padding: 0;
  color: white;
  background: url('../../assets/images/button-bg.svg') center bottom no-repeat;
  cursor: url('../../assets/images/headphones.svg'), auto;
}



