@import 'styles/shared.scss';

/* -----------------------------------
 *
 * 404 styles
 *
 * -------------------------------- */

 .wordbreak {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
 }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;;
  width: 100%;
  padding: 15vh 30px 80px;
}

.article {
  max-width: 720px;
  @extend .wordbreak;
}

.heading {
  font-size: 72px;
  line-height: 1;
  font-weight: 500;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}



