@import 'styles/shared.scss';

/* -----------------------------------
 *
 * 404 styles
 *
 * -------------------------------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;;
  width: 100%;
  padding: 15vh 30px 80px;
}

.article {
  max-width: 720px;
  box-sizing: border-box;
  .heading, h2, h3 {
    word-wrap: break-word;
  }

}

.heading {
  font-size: 72px;
  font-weight: 500;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}



