@import 'styles/shared';

.video {
  position: fixed;
  z-index: 0;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
  transform: translate(-50%, -50%);
}

.videoIsPlaying {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.playBtn {
  width: 100px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url('https://tracepaul.s3.eu-central-1.amazonaws.com/headphones.svg'), auto;
  svg {
    opacity: 0.5;
    margin-left: 5px;
  }
}
