
/* -----------------------------------
 *
 * App styles
 *
 * -------------------------------- */

.container {
  position: relative;
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(21,21,21,0.88);
  padding-top: 30px;
}

.article {
  color: white;
  text-align: center;
  h1 {
    font-weight: 200;
    font-size: 32px;
  }
}

