
/* -----------------------------------
 *
 * App styles
 *
 * -------------------------------- */

.container {
  position: relative;
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(21,21,21,0.88);
}