@import 'styles/fonts/cursive.css';
@import 'styles/fonts/sansSerif.css';
@import 'styles/shared.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-cursive;
  font-weight: 400;
}

p {
  font: normal 16px/1.4 $font-sans-serif;
  @include respond-to('md') {
    font-size: 18px;
  }
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
