@import 'styles/shared.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  @include respond-to('sm') {
    overflow: hidden;
  }
}
