

@import 'styles/shared.scss';

/* -----------------------------------
 *
 * 404 styles
 *
 * -------------------------------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.article {
  text-align: center;
}

.heading {
  font-size: 2.4em;
  font-weight: 700;
  @include respond-to('sm') {
    font-size: 2.8em;
  }
}


.link {
  font-family: $font-default;
  font-weight: 400;
  font-size: 2.4em;
  text-decoration: none;
  color: $white;
  &:visited {
    color: white;
  }
}