@import 'styles/shared.scss';

/* -----------------------------------
 *
 * 404 styles
 *
 * -------------------------------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.heading {
  font-size: 72px;
  line-height: 1;
  font-weight: 500;
}

.link {
  font-family: $font-cursive;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  background: url('../../assets/images/button-bg--lg.svg') center bottom no-repeat;
  @include respond-to('sm') {
    font-size: 46px;
  }
}
